@model IList<Google.Apis.Storage.v1.Data.Object>
@{
    ViewBag.Title = "Bucket";
}

<h1>Files in the bucket:</h1>

<ul>
    @foreach(var o in Model)
    {
        <li>@o.Name, Size=@o.Size</li>
    }
</ul>

