@using Google.Apis.Storage.v1.Data
@model IList<Bucket>

<h1>List of buckets:</h1>

<ul>
    @foreach(var bucket in Model)
    {
        <li><a href="/home/bucket?name=@bucket.Name">@bucket.Name</a></li>
    }
</ul>

